:root.theme-light {
  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: rgb(255, 241, 247); 
  --title-color: rgb(255, 194, 230); 
  --accent-color: rgb(255, 141, 203); 
  --accent-title-color: rgb(53, 52, 48); 
  --section-title-color: rgb(53, 52, 48); 
  --decoration-color: rgb(53, 52, 48);
  --button-hover-border-color: rgb(50, 49, 45, 0.4); 
  --text-color: rgb(53, 52, 48);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url(../images/cover-image-light.png);
    --page-bg-color: rgb(255, 241, 247); 
    --title-color: rgb(255, 194, 230); 
    --accent-color: rgb(255, 141, 203); 
    --accent-title-color: rgb(53, 52, 48); 
    --section-title-color: rgb(53, 52, 48); 
    --decoration-color: rgb(53, 52, 48);
    --button-hover-border-color: rgb(50, 49, 45, 0.4); 
    --text-color: rgb(53, 52, 48);
  }

  .header__rec {
    display: none;
  }  
}