:root {
  /*Фоновая картинка*/
  --page-bg-image: url(../images/cover-image-dark.png);

  /*Шрифты и текст*/
  --fonts: 'IBM Plex mono', monospace;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  /*Цветовая палитра*/
  --page-bg-color: rgb(0, 0, 40); /*Цвет фона при отсутствии изображения*/
  --title-color: rgb(219, 0, 255); /*Цвет заголовка в header и footer*/
  --accent-color: rgb(255, 0, 112); /*Цвет для тени ссылок в тексте и заголовка в header и footer,
  а также для акцентных прямоугольников заголовков в секциях и текстового блока в header*/
  --accent-title-color: rgb(0, 0, 40); /*Цвет для текста в акцентных прямоугольниках заголовков 
  в секциях и текстовом блоке в header*/
  --section-title-color: rgb(255, 0, 112); /*Цвет для заголовков секций*/
  --decoration-color: rgb(255, 0, 112); /*Цвет кнопок, уголков и REC с "лампочкой"*/
  --button-hover-border-color: rgb(255, 0, 112, 0.4); /*Цвет границ кнопки при :hover*/
  --text-color: rgb(241, 178, 206); /*Цвет основного текста*/

  /*Отступ*/
  --base-interval: 10px;
}
